form.search-form {
  text-align: center;
}
form.search-form input[type=text] {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

form.search-form input[type="text"]:focus {
  border-color: #007bff;
}

form.search-form input[type="text"].error {
  border: 2px solid red;
}

form.search-form .error-message {
  color: red;
  font-size: 12px;
  font-family: serif;
  text-align: center;
}
